* {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 0px;
    margin-left: 0px;
    color: #000000;
    font-family: "Didot", "Comic Sans MS", "Helvetica Neue", sans-serif;
    box-sizing: border-box;
  }
  
  @media screen and (max-width: 1050px) {
    .svg-column {
      width: 50%;
    }
  }
  
  @media screen and (max-width: 750px) {
    .svg-column {
      float: left;
      width: 100%;
      padding: 10px;
    }
    .triple-column {
      width: 100%;
    }
  }
  
  /* .highlight-yellow {
    background: linear-gradient(180deg,rgba(255,255,255, 0) 65%, #1f2a5d 65%);
  } */
  
  .space {
    margin-right: 10px;
    margin-left: 10px;
  }
  
  .highlight-white {
    background: linear-gradient(180deg,rgba(255,255,255, 0) 65%, #1f2a5d 65%);
  }
  
  .thin-highlight-white {
    background: linear-gradient(180deg,rgba(255,255,255, 0) 80%, #1f2a5d 80%);
  }
  
  /*.thin-highlight-yellow {
    background: linear-gradient(180deg,rgba(255,255,255, 0) 80%, #1f2a5d 80%);
  }*/
  
  a {
    text-decoration: none;
    
  }

  .nav-bar {
    font-size:2.25em;
    background-color:#9692bf9a !important;
  }
  
  .nav-item:hover {
    background-color: #d0c0e4;
    border-radius: 35px;
  }
  
  
  .name {
    font-size: 500%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    font-weight: bold;
  }

  .profile-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  }
  
  
  /*.intro {

    font-size: 150%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
  } */
  
  .bio-section {
    font-size: 150%;
    margin-left: 110px;
    margin-right: 110px;
    margin-top: 30px;
    margin-bottom: 50px;
  } 
  .bio-font {
    font-size: 150%;
  }
  
  
  
  .nav-bar {
    margin-left: 0px;
    margin-right: 0px;
  }
  
  .nav-item {
    margin-right: 20px;
  }
  
  
  .yellow-background {
    background: #4d487f9a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .resume-section {
    background: #9692bf9a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .section-title {
    font-size: 200%;
    text-align: center;
    font-weight: bold;
    margin-top: 0px;
  }
  
  .descTitle {
    font-weight: bold;
    margin-bottom: 0;
  }
 .award-section {
  margin: 0;
  margin-top: 1.5rem;
  margin-right: 90%;
  font-size: 1.15rem;

 }
  
  p {
    margin: 0;
    margin-top: 1.5rem;
    font-size: 1.15rem;
  }
  
  .bio {
    margin-top: 0px;
  }
  
  .proj-title {
    font-size: 150%;
  }

  .title-2 {
  margin: 0;
  margin-top: 1.5rem;
  margin-right: 60%;
  font-size: 1.15rem; 
  }
  
  .proj-text {
    margin-top: 0;
    font-style: italic;
    padding-top: 5px;
    font-size: 1rem;
    margin-left: 5%;
  }
  
  
  .svg-center {
    text-align: center;
  }
  footer a {
    color: white;
    padding: 1rem;
    
  }
  
  .toplink {
    text-align: center;
  }
  /*.copyright {
    background: rgb(255, 255, 255) ;
    margin: 0;
    box-align: center;
  } *\
